:root {
  --main-color : #121212;
  --header-color: #292929;
  --white: #ffffff;
  --header-color-hovered: #1f1e1e;
  --fast-transition: all 0.15s ease-out;
  --base-transition: all 0.3s  ease-out;
  --purple : #9e00fa;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  font-family: 'Roboto' , sans-serif;
  color: var(--white);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
a, a *, button, button * {
  cursor: pointer;
  transition: var(--fast-transition);
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: minmax(13vh, 1fr) 7fr;
  
}


header {
  background-color: var(--header-color);
  display:  flex;
  justify-content: space-between;
  align-items: center;
  
}

.title , .github {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3rem;
  gap: .7rem;
}


.github {
  margin-right: 2rem;
}

.title h1 {
  font-size: 2rem;
}
main {
  background-color: var(--main-color);
  box-shadow: inset -1px 4px 10px 0px black;
}

svg {
  height: 2.5rem;
  width: 2.5rem;  
}

 svg path {
  fill: var(--white);
}
a:hover svg {
  transform:rotate(360deg) scale(1.5);
  filter: drop-shadow(0 0 0.3em var(--yellow));
}

a:hover svg path {
  fill: var(--purple);
}
a svg{
  transition: var(--base-transition);
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.container h1 {
  margin-top: 2rem;
  text-align: center;
}
.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: var(--header-color);
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid white;
    background: var(--main-color);
    cursor: pointer;
    color: var(--purple);
  }

  .cell:hover {
    background-color: var(--header-color-hovered);
  }

.play {
  border: none;
  outline: none;

  background-color: var(--header-color);
  color: white;
  border-radius: 2rem;
  padding:  .5rem 2rem;
}

.play:hover {
  background-color: var(--header-color-hovered);
}

.material-icons.md { font-size: 2.5rem; }